div {
    display: flex;
}

.type-text{
    margin-left: .2rem;
}

.type-text::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 1.5rem;
    border-right: 2px solid #000000;
    -webkit-animation: blink 0.5s infinite ease;
    animation: blink 0.5s infinite ease;
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}